<footer>
  <p id="copyright">&#169 Coding Ninjas. All rights reserved</p>

  <div id="footer-menu">
    <ul>
      <li>
        <a href="/users/profile">Home</a>
        
      </li>
      <li> <a href="/">Profile</a></li>
    </ul>
  </div>


</footer>
